n8n/my Workflow.json
{
    "name": "Workflow Demo",
    "nodes": [
      {
        "id": "1",
        "name": "Manual Trigger",
        "type": "n8n-nodes-base.manualTrigger",
        "typeVersion": 1,
        "position": [-400, 0],
        "parameters": {}
      },
      {
        "id": "2",
        "name": "Code JS",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [-200, 0],
        "parameters": {
          "jsCode": "return [{ json: { message: 'Hello n8n', value: Math.floor(Math.random() * 100) } }];"
        }
      },
      {
        "id": "3",
        "name": "Switch",
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3,
        "position": [0, 0],
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "conditions": [
                    {
                      "leftValue": "={{$json.value}}",
                      "operator": {
                        "type": "number",
                        "operation": "larger"
                      },
                      "rightValue": 50
                    }
                  ]
                }
              }
            ]
          }
        }
      },
      {
        "id": "4",
        "name": "HTTP Request",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4,
        "position": [200, -100],
        "parameters": {
          "url": "https://httpbin.org/post",
          "method": "POST"
        }
      }
    ],
    "connections": {
      "Manual Trigger": {
        "main": [[{ "node": "Code JS", "type": "main", "index": 0 }]]
      },
      "Code JS": {
        "main": [[{ "node": "Switch", "type": "main", "index": 0 }]]
      },
      "Switch": {
        "main": [
          [{ "node": "HTTP Request", "type": "main", "index": 0 }],
          []
        ]
      }
    },
    "active": false,
    "settings": {
      "executionOrder": "v1"
    }
  }
  